<template>
  <div class="dashAngeles">
    <h2><ang-log-out-comp /> {{ user.name }}</h2>         
    <button class="btn fondo_explosion2" type="submit">                    
      <span class="nav-link text-light p-0" @click.prevent="userDataEdition()">TU CUENTA</span>
    </button>
    <ang-user-main-level-comp />
    <ang-user-notifications-comp :notifications="c_notifications" @leer-not="leerNotifications" />          
    <ang-user-data-comp v-if="userData"
                        class="user-data"
                        :user="c_user"
                        :avatar="c_avatar"
                        @avatar-change="onAvatarChange"
                        @changeName="changeName"                       
    /><!--  @changeLanguage="changeLanguage" no la consigo usar -->
    <h3>¡Tus partidas de Scrabble!</h3>
    <ang-partida-en-curso-comp v-for="c_game in c_games"
                               :key="c_game.id"
                               class="partidaEnCurso"
                               :game="c_game"
                               :user="c_user"
                               @abandono="abandonarPartida" 
    /> 
    <h3>¡Empieza una nueva partida!</h3>    
    <ang-part-nueva-aleatoria-comp class="partidaNueva" :language="c_user.favourite_language" />
    <ang-part-nueva-rival-comp class="partidaNueva" :language="c_user.favourite_language" />
    <ang-part-nueva-nivel-comp class="partidaNueva" :language="c_user.favourite_language" />
    <h3>¡Estadísticas y mucho más!</h3>
    <ang-historico-comp class="historico" :player-name="c_user.name" />
    <ang-estadisticas-comp class="estadisticas" />    
  </div>
</template>

<script>
import axios from "axios";

import AngLogOutComp from "./AngLogOutComp";
import AngUserMainLevelComp from "./AngUserMainLevelComp";
import AngUserNotificationsComp from "./AngUserNotificationsComp";
import AngUserDataComp from "./AngUserDataComp";
import AngPartidaEnCursoComp from "./AngPartidaEnCursoComp";
import AngPartNuevaRivalComp from "./AngPartNuevaRivalComp";
import AngPartNuevaNivelComp from "./AngPartNuevaNivelComp";
import AngPartNuevaAleatoriaComp from "./AngPartNuevaAleatoriaComp";
import AngHistoricoComp from "./AngHistoricoComp";
import AngEstadisticasComp from "./AngEstadisticasComp";

export default {
  name: "AngDashboardComp",
  components: { 
    AngLogOutComp,
    AngUserMainLevelComp,
    AngUserNotificationsComp,
    AngUserDataComp,
    AngPartidaEnCursoComp,
    AngPartNuevaRivalComp,
    AngPartNuevaNivelComp,
    AngPartNuevaAleatoriaComp,
    AngHistoricoComp,
    AngEstadisticasComp
    },
  props:{
    user: { required: true, type: Object },
    avatar: { required: true, type: String },
    games: { required: true, type: Array }, 
  },
  data: () => ({
    c_user: null,
    c_avatar: "",
    c_notifications: [],
    c_games: [],

    /* para mostrar la edición del perfil */
    userData: false,    
  }),
  mounted() {/* Se hace todo esto para pasar una copia de las propiedades a los elementos hijos */
    /* user */
    this.c_user = this.user;

    /* notificaciones */
    this.getNotificationsUnread();

    /* avatar */
    if (!this.avatar) this.c_avatar = "";
    else this.c_avatar = this.avatar;

    /* partidas en curso - ahora si*/
    for (let i=0; i<this.games.length; i++){
      this.c_games.push(this.games[i]);              
    }
  },

  methods: {
    /* evento recibido del hijo para cambiar el nombre del usuario que se pasa a los hijos*/
    changeName(name){
      this.c_user.name = name;
    },
    /* evento recibido del hijo para cambiar el idioma preferido del usuario que se pasa a los hijos (útil en nuevas partidas, por ejemplo)*/
    /* changeLanguage(language){
      this.c_user.favourite_language = language;
    }, *//* no me sirve igual para variables inplicadas en otros componentes hijos como las partidas nuevas¿¿?? */
    onAvatarChange(image) {
      this.c_avatar = image;
    },    
    /* para que se muestre y esconda el panel de edición de datos del perfil */
    userDataEdition() {
      this.userData = !this.userData;
    },
    getNotificationsUnread(){
      /* con axios accedo a las notificaciones no leidas */
      const promise = axios.get("/scrabble/user/notifications/unread");        
      promise
        .then( (response) =>{            
            for (let i=0; i<response.data.length; i++){
              this.c_notifications.push(response.data[i]);               
            }
            console.log("array de notificaciones", response.data);                       
        })
        .catch (function (error){
            console.log(error);            
        });
    },
    leerNotifications() { 
      /* cambiaremos a estado leído de las notificaciones del usuario, identificándolas por su id */
      let peticion ="";
      for (let i=0; i<this.c_notifications.length; i++){
        peticion = "/scrabble/notification/" + this.c_notifications[i].id + "/update/read";
        const promise = axios.put(peticion);
        promise
        .then( (response) =>{
            console.log("array de notificaciones leidas?", response.data);
                                                                                                              
        })
        .catch (function (error){
            console.log(error);            
        });         
      }
      /* después vaciamos el array de notificaciones */
      const lengthInitialNotifications = this.c_notifications.length
      for(let i=0; i<lengthInitialNotifications; i++){
        this.c_notifications.shift();
      }
                   
    },
    abandonarPartida(id) {      
      const peticion = "/scrabble/game/"+ id + "/giveup"
      console.log(peticion);
      const promise = axios.post(peticion);
        promise
        .then( (response) =>{            
            console.log("abandono de la partida", response);                       
        })
        .catch (function (error){
            console.log(error);            
        });
      /* después quitamos de c_games la partida abandonada */      
      const lengthInitialGames = this.c_games.length
      for(let i=0; i<lengthInitialGames; i++){
        if(this.c_games[i].id === id){
          this.c_games.splice(i, i+1);
          console.log("item eliminado", i)
          break;
        }        
      } 
    }
   }
};
</script>

<style lang="scss" scoped>
@import "../../sass/ang_mixins";

.dashAngeles{
  /* display grid */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 16px;
    *{
      grid-column: span 2;
    }    

    h2, h3, .user-data{
      grid-column: span 6;
    }

    h2, h3{
      color: var(--color-explosion-2);
      font-weight: bold;
      margin: 0.5rem 0 0 0;
    }

    h2{
      text-transform: uppercase;
      display: flex;
    }

    .estadisticas{
      grid-column: 3 / 7;
    }   
    
  }

@media screen and (max-width: 780px) {  
  .dashAngeles{

  /* display grid */
  grid-template-columns: repeat(3, 1fr);

    button, .puntos, .notificaciones{
      grid-column: span 1;
    } 

    h2, h3, .user-data, .estadisticas, .historico{
      grid-column: 1 / 4;
    }

    .partidaNueva, .partidaEnCurso{
      grid-column: span 3;
    }
 }
}
</style>