<template>
  <div class="bg-white shadow-sm tarjeta no_pointer">
    <p class="py-2 pl-4 m-0 cabecera">ESTADíSTICAS POR IDIOMA</p>
    <ul class="px-3 pt-2 nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" :class="{active: activeEN}" @click="mostrar(estadisticas[0].language_code)">{{ estadisticas[0].language_code | language }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" :class="{active: activeES}" @click="mostrar(estadisticas[1].language_code)">{{ estadisticas[1].language_code | language }}</a>
      </li>
    </ul>    
    <div v-for="estadistica in estadisticas" :key="estadistica.language_code" class="px-3">       
      <table v-if="tablaVista === estadistica.language_code" class="table">        
        <tr>
          <th>Tu nivel:</th>
          <td colspan="3">{{ estadistica.level }}</td>
        </tr>        
        <tr>
          <th>Tu palabra más valiosa:</th>
          <td>{{ estadistica.most_valuable_word }}</td>
          <th>Sus puntos:</th>
          <td>{{ estadistica.most_valuable_word_points }}</td>
        </tr>
        <tr>
          <th>Ir a la partida: </th>                   
          <td><a class="pink" :class="{linkNulo: estadistica.longest_game===null }" @click.prevent="irAestaPartida(estadistica.shortest_game)">más corta</a></td>
          <td><a class="pink" :class="{linkNulo: estadistica.longest_game===null }" @click.prevent="irAestaPartida(estadistica.longest_game)">más larga</a></td>
          <td><a class="pink" :class="{linkNulo: estadistica.longest_game===null }" @click.prevent="irAestaPartida(estadistica.shortest_game)">palabra más valiosa</a></td>
        </tr>        
        <tr>
          <th class="bar-chart pt-4" colspan="4">
            <pure-vue-chart
              :points="[{label:'partidas ganadas', value: estadistica.won}, {label: 'partidas perdidas', value: estadistica.lost}]"
              :width="300"
              :height="150"              
              :show-x-axis="true"
              :show-values="true"
            /><!-- se que no deberían ser months, pero asi se quedan -->
          </th>
        </tr>        
      </table>
    </div>              
  </div>
</template>

<script>
import axios from "axios";
import PureVueChart from 'pure-vue-chart';

export default {
  name: "AngEstadisticasComp",
  components: {
    PureVueChart,
  },
  filters: {
    language: function(val) {
        if(val==="es"){
          return "español"
        }else if(val==="en"){
          return "inglés"
        }
      }
  },
  data:() => ({    
    estadisticas: [],
    tablaVista: "en",
    activeEN: true,
    activeES: false,
  }),
  computed:{
    
  },
  mounted() {
    this.obtenerStadisticas();
  },  
  methods: {    
    obtenerStadisticas() {      
      /* con axios accedo a las estdisticas del usuario conectado */
      const peticion = "/scrabble/user/statistics";
      const promise = axios.get(peticion);        
      promise
        .then( (response) =>{
          console.log(peticion);
          console.log("se muestran las estadisticas", response.data);
          for (let i=0; i<response.data.length; i++){
            this.estadisticas.push(response.data[i]);              
          }                                 
        })
        .catch ((error) =>{
            console.log(error);                       
        });
    },
    mostrar(val){
      this. tablaVista = val;
      if(val==="es"){
        this.activeES =true;
        this.activeEN =false;
      }else if(val==="en"){
        this.activeES =false;
        this.activeEN =true;
      }
    },
    irAestaPartida(idg){
      console.log(idg);
      if (idg === null) {
        return;
      }
      let url =
        location.protocol +
        "//" +
        location.hostname +
        (location.port ? ":" + location.port : "");
      window.location.href = url + "/scrabble/game/" + idg;
    },       
  },
};
/**GET /scrabble/user/statistics**
Devuelve las estadísticas del usuario en todos los idiomas que haya jugado.

- *Alias*: statistics.
- *Parámetros*: Ninguno.
- *Requerimientos*: Usuario autenticado.
- *Respuesta*: 

| Parámetro       | Tipo              | Descripción       |
| :----------     | :-------          | :------------     |
| data            | Array de JSON     | Array de n entradas, una por cada idioma al que haya jugado el usuario |
| data.language_code        | Cadena      | Código del idioma para el que se refleja la estadística |
| data.level                | Número      | Nivel del usuario en ese idioma |
| data.won                  | Número      | Número de partidas ganadas en ese idioma |
| data.lost                 | Número      | Número de partidas perdidas en ese idioma |
| data.most_valuable_word       | Cadena      | Palabra más valiosa |
| data.most_valuable_word_points| Número      | Puntos de la palabra más valiosa |
| data.most_valuable_word_game  | Número      | Identificador de la partida donde está la palabra de más valor |
| data.shortest_game            | Número      | Identificador de la partida más corta |
| data.longest_game             | Número      | Identificador de la partida más larga |
*/ 
</script>
  
<style lang="scss" scoped>
  .cabecera{
    background-color: var(--color-explosion-3);
    color: white;
    font-weight: 400;
  }
  td{
    min-width: 120px;
      a.pink{
        color: var(--color-explosion-4);
        cursor: pointer;
        font-weight: bold;
          &:hover{
            color: var(--color-explosion-3)
          }
      }
      a.linkNulo{
        color: var(--color-explosion-grey);
        cursor: context-menu;
        font-weight:inherit;
          &:hover{
            color: var(--color-explosion-grey)
          }
      }
  }
  th.bar-chart{
    filter: grayscale(100%) brightness(130%);
  }

  @media screen and (max-width: 780px) {
    td{
    min-width: none
    }
  }

</style>