<template>
  <div class="bg-white shadow-sm tarjeta no_pointer">
    <p class="py-2 pl-4 m-0 cabecera">HISTÓRICO DE PARTIDAS</p>
    <!-- Lista de partidas en una página con sus datos + relevantes -->
    <div>
      <ul class="px-3 pt-2 nav nav-tabs historico">
        <li v-for="partida in historico" :key="partida.id" class="nav-item w-100">          
          <span v-if="partida.player1 !== playerName">Partida contra <strong> {{ partida.player1 | name_acortado }} </strong></span>
          <span v-if="partida.player2 !== playerName">Partida contra <strong> {{ partida.player2 | name_acortado }} </strong></span>
          <a class="pink" @click.prevent="irAestaPartida(partida.id)">{{ partida.updated_at | solo_fecha }}</a>
          <em>- {{ partida.state | filtro_estado }}</em>         
        </li>
      </ul>
    </div>
    <!-- Pagination -->
    <div class="pt-2">
      <ul class="pagination w-100">
        <li class="page-item">
          <a class="page-link" aria-label="Previous" @click.prevent="obtenerNuevaPagina(prev_page_url)">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item pt-2">
          <span class="page-seleccionada"> Página {{ current_page }} de {{ last_page }} </span>
        </li>       
        <li>  
          <a class="page-link" aria-label="Next" @click.prevent="obtenerNuevaPagina(next_page_url)">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>        
      </ul>      
    </div>   
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "AngHistoricoComp",
  filters: {
    solo_fecha: function(val) {
      return val.slice(0,10);
    },
    name_acortado: function(val) {
      return val.slice(0,13);
    },
    filtro_estado: function(val) {
      let estado = "";
      if(val === "win_p1" || val === "win_p2"){
        estado = "finalizada";
      }else if (val === "unstarted"){
        estado = "sin comenzar";
      }else if(val === "turn_p1" || val === "turn_p2"){
        estado = "en juego";
      }else{
        estado = "error"
      }
      return estado;
    },    
  },
  props:{
      playerName: { required: true, type: String },
  },
  data:() => ({ 
    current_page: 0,
    first_page_url: "",
    last_page: 0, 
    last_page_url: "",
    next_page_url: "",
    prev_page_url: "",

    historico: [],    
    
  }),
  computed:{
    
  },
  mounted(){
    this.obtenerHistoricoPartidas();
  },
  methods: {
    obtenerHistoricoPartidas() {      
      /* con axios accedo al histórico de partidas del usuario conectado (paginado, datos de 10 partidas cada vez) */     
      const promise = axios.get("/scrabble/user/games/5");        
      promise
        .then( (response) =>{          
          console.log("se muestran el historico", response.data);
            this.current_page = response.data.current_page;
            this.first_page_url= response.data.first_page_url;
            this.last_page = response.data.last_page 
            this.last_page_url = response.data.last_page_url;
            this.next_page_url = response.data.next_page_url;
            this.prev_page_url = response.data.prev_page_url;

            for (let i=0; i<response.data.data.length; i++){
              var objetoPartida = { updated_at: response.data.data[i].updated_at,
                                    player1: response.data.data[i].player1.name,
                                    player2: response.data.data[i].player2.name,
                                    state: response.data.data[i].state,
                                    id: response.data.data[i].id,
                                    };
              this.historico.push(objetoPartida);              
          }
                                         
        })
        .catch ((error) =>{
            console.log(error);                       
        });
    },
    obtenerNuevaPagina(pagina){      
      console.log("historico mostrado borrado");
      /* con axios accedo al histórico de partidas de la página siguiente o anterior */
      const promise = axios.get(pagina);        
      promise
        .then( (response) =>{          
          console.log("se muestran el historico de la página siguiente", response.data);
            this.current_page = response.data.current_page;
            this.first_page_url= response.data.first_page_url;
            this.last_page = response.data.last_page 
            this.last_page_url = response.data.last_page_url;
            this.next_page_url = response.data.next_page_url;
            this.prev_page_url = response.data.prev_page_url;

            /*vaciamos el array de histórico */
            const lengthInitialHistorico = this.historico.length;
            for(let i=0; i<lengthInitialHistorico; i++){
              this.historico.shift();
            }

            for (let i=0; i<response.data.data.length; i++){
              var objetoPartida = { updated_at: response.data.data[i].updated_at,
                                    player1: response.data.data[i].player1.name,
                                    player2: response.data.data[i].player2.name,
                                    state: response.data.data[i].state,
                                    id: response.data.data[i].id,
                                    };
              this.historico.push(objetoPartida);              
          }
                                         
        })
        .catch ((error) =>{
            console.log(error);                       
        });

    },
    irAestaPartida(idg){
      console.log(idg);
      if (idg === null) {
        return;
      }
      let url =
        location.protocol +
        "//" +
        location.hostname +
        (location.port ? ":" + location.port : "");
      window.location.href = url + "/scrabble/game/" + idg;
    },
  }
  
};
</script>

<style lang="scss" scoped>
  .cabecera{
    background-color: var(--color-explosion-3);
    color: white;
    font-weight: 400;
  }
  ul.historico{
    border-bottom: none;  
      li{
        border-bottom: 1px solid var(--color-explosion-grey);
          span:first-child{
            display: inline-block;
            width: 100%;
            padding-top: 0.4rem;
            padding-bottom: 0.3rem;
          }           
          a{
            display: inline-block;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;           
          }
          a.pink{
            padding-top: 0;
            font-weight: bold;
            color: var(--color-explosion-4);
            cursor: pointer;            
              &:hover{
                color: var(--color-explosion-3);                
              }
          }                   
      }
  }
  ul.pagination{
    justify-content: center;
    li.page-item{
      margin-bottom: 0;
        span.page-seleccionada{          
          padding: 10px 12px 8px 12px;
        }
    }
    a.page-link{
      border: none;
      font-size: 1.4rem;
      font-weight: bold;
      padding-top: 4px;
    }    
  } 
</style>