<template>
  <div>
    <span class="das-switch" title="salir" @click="logOut" />
    <!-- <ang-loading-comp v-if="pensando" />  --> <!-- sin terminar -->     
  </div>
</template> 

<script>
import axios from "axios";
/* import AngLoadingComp from "./AngLoadingComp"; */

export default {
  name: "AngLogOutComp",
  components: { 
    /* AngLoadingComp, */
  },
  data:() => ({
    pensando: false,
  }),
  mounted() {
    this.pensando = false;    
  },
  methods: {
    logOut(){
      /* animación de espera */
      this.pensando = true;
      /* petición de salida*/         
      const promise = axios.post("/scrabble/logout");
      promise
      .then( (response) =>{          
          console.log(response);          
          location.replace("/scrabble/login")                    
      })
      .catch (function (error){
          console.log(error);           
      });
    }
  }
  
};
</script>

<style lang="scss" scoped>
@import "../../sass/ang_mixins";

  span[class|=das]{      
      color:var(--color-explosion-3);
      font-size: 2rem;
      cursor: pointer;
      padding-right: 1rem;

        &:hover{
          color:var(--color-explosion-4);          
        }
  }
  .contenedor-animacion{
    position: fixed;
    width: 100%;
    height: 100%;
  }
  
</style>