<template>
  <!-- NI CASO, proyecto de transformación de la animación de loading, no llevado a cabo -->
  <div id="loading">
    <div class="fondo" />
    <div class="loadingText" />
    <div :class="letra" />
  </div>
</template>

<script>

export default {
  name: "AngLoadingComp",
    data: () => ({
    letra: "",
    alfabeto: ["L", "O", "A", "D", "I", "N", "G"],
    posicion: 0,
  }),
  created(){
    //Clase que cambia cada segundo y medio (las letras)
    setInterval(() => { 
          this.cambioLetra(this.alfabeto, this.posicion);
      }, 1500);

  }, 
  methods:{
    cambioLetra(alfabeto, posicion){
        this.letra = "letra" + alfabeto[posicion];

        if(posicion<(alfabeto.length-1)){
            posicion++;
        }else{
            posicion=0;
        }
    }
  }      
};

</script>

<style lang="css" scoped>
  :root{
    /* cambiando estos colores nos adaptamos a cualquier escenario */
    --color-frontal:#18546b;
    --color-fondoTransp: rgba(255, 255, 255, 0);
    --color-fondoOpaco: rgba(255, 255, 255, 1);
    --borderRadius-ficha: 6px;
  }

  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  #loading{
      margin: 4rem auto;
      width: 70px;
      height: 70px;
      font-family: Helvetica, Arial, sans-serif;    
      color: var(--color-frontal);
      text-align: center;
      
      position: relative;
      z-index: 3100;
  }

  /* div que se llena y se vacía de color (1º div introducido en javascript) */
  .fondo{
      background-color: var(--color-frontal);
      width: 100%;
      height: 100%;
      border-radius: var(--borderRadius-ficha);

      position: absolute;
      bottom:0;
      
      animation: vaciadoLlenado 1.5s ease 1.5s infinite;    
  }

  @keyframes vaciadoLlenado {
      0%{
          height: 100%;
      }   
      50%{
          height: var(--borderRadius-ficha);/* Para el contenido no se salga de la ficha */
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
      }
      100%{
          height: 100%;
      } 
  }

  /* div con el texto loading y su destello (2º div introducido en javascript) */
  .loadingText:before{
    content: "loading...";
    font-size: 14px;

    position: absolute;
    bottom:-20px;
    left:7px;  

    /* destello */
    background: var(--color-frontal) linear-gradient(90deg, var(--color-fondoTransp) , var(--color-fondoOpaco), var(--color-fondoTransp));
    background-size: 90px;
    background-position: -140px; 
    background-repeat: no-repeat;
    /* propiedades que permiten que el fondo solo se muestre en los textos */
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-fondoTransp);

    animation: destello 2.25s ease 1.5s infinite;
  }

  @keyframes destello {
      0%{
          background-position: -140px; 
      }   
      100%{
          background-position: 140px;
      } 
  }

  /* div donde aparecen las letras (3º div introducido en javascript)*/
  #loading>div:last-child {
      display: block;   
      width: 100%;
      height: 100%;
      font-size: 62px;
      border: 2px solid var(--color-frontal);
      border-radius: var(--borderRadius-ficha);    
      
      position: absolute;
      bottom:0;  
  }

  /* Cada clase introduce una letra   */
  .letraL:before{content:"L";}
  .letraO:before{content:"O";}
  .letraA:before{content:"A";}
  .letraD:before{content:"D";}
  .letraI:before{content:"I";}
  .letraN:before{content:"N";}
  .letraG:before{content:"G";}
    
</style>