<template>
  <div class="bg-white shadow-sm tarjeta no_pointer h-100">
    <ul class="h-100">
      <li>
        <h3 class="azul"><span class="grgrgr">CEEDCV news</span></h3><!-- Atento a las novedades del CEEDCV -->
        <h4>¡No te pierdas nada!</h4>
      </li>
      <br /> 
      <li v-for="newceed in news" :key="newceed.id">
        <span> {{ newceed.created_at | solo_fecha }} </span>
        <h5 class="texto-reducido">
          <a :href="newceed.url" target="_blank">{{ newceed.header }}</a>     
        </h5>          
      </li>
    </ul>
  </div>    
</template>

<script>
import axios from "axios";

export default {
    name: "AngNewsComp",
    filters: {
      solo_fecha: function(val) {
            return val.slice(0,10);
        }
    },       
    data: () => ({
        news: [],/* no es un objeto, es un array de objetos */
    }),
    mounted(){/* no en el created!! */
        const promise = axios.get("/api/info/news");
        /* var mithis=this; era necesario al no usar una función flecha, pues no accedía a news*/
        promise
        .then( (response) =>{            
            for (let i=0; i<5; i++){
              this.news.push(response.data[i]);/* impo */               
            }
            console.log("array de noticias", response.data);                       
        })
        .catch (function (error){
            console.log(error);            
        });        
    }
}
</script>

<style lang="scss" scoped>
  .h-100{
    height: 100% !important;
  }
  ul{
    padding: 1.2rem;
      li{
        list-style: none;
          h5.texto-reducido{
            font-size: 1rem;
          }
      }
  }  

</style>