<template>
  <div>
    <div class="partida shadow-sm">
      <div @click.prevent="partidaDetalles()">
        <span>JUEGA <span class="resaltado">¡ELIGE NIVEL!</span></span>                    
        <span :class="{ dasplus: !detalles, dasminus: detalles }" />  
      </div>
      <form v-if="detalles" class="form-group shadow-sm" method="POST" action="">
        <!-- ERRORES -->
        <!-- <ul v-if="error_mensaje" class="list-group my-0 py-0 px-3 pt-3">
          <li class="list-group-item list-group-item-warning alert alert-dismissible pb-2" role="alert">
            {{ error }}
            <br />
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true" @click="cerrarErrores">&times;</span>
            </button>
          </li>
        </ul> -->
        <fieldset class="p-3 pb-2"> 
          <select v-model="nivel_seleccionado" class="custom-select mb-2">                      
            <option v-for="nivel in niveles_select" :key="nivel.id" :value="nivel.id">
              {{ nivel.id }}
            </option>
          </select>                                
          <br />          
          <label>
            <input v-model="opcion_seleccionada" type="radio" selected :value="opcion_niveles[0].opcion" /> {{ opcion_niveles[0].texto }} {{ nivel_seleccionado }}
          </label><br />
          <label>
            <input v-model="opcion_seleccionada" type="radio" :value="opcion_niveles[1].opcion" /> {{ opcion_niveles[1].texto }} {{ nivel_seleccionado }}
          </label><br />
          <label>
            <input v-model="opcion_seleccionada" type="radio" :value="opcion_niveles[2].opcion" /> {{ opcion_niveles[2].texto }} {{ nivel_seleccionado }}
          </label><br />          
          <select v-model="idioma_seleccionado" class="custom-select mb-2">
            <option>{{ idioma_favorito }}</option>            
            <option v-for="idioma in idiomas_select" :key="idioma.id" :value="idioma.nombre">
              {{ idioma.nombre }}
            </option>
          </select>                          
          <button class="btn fondo_explosion1 w-100 p-0" @click.prevent="nivelSeleccionado()">
            <span class="nav-link text-light">ACEPTAR</span>
          </button>          
        </fieldset>
        <fieldset v-if="partidaGenerada" class="px-3 pb-2">
          <p class="blue">¡Partida generada correctamente!</p>
        </fieldset>
      </form>
    </div> 
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "AngPartNuevaNivelComp",
  props:{
    language: { required: true, type: String },
  }, 
  data: () => ({
    detalles: false,
    partidaGenerada: false,

    /* listado de idiomas (podría ampliarse, en ppio solo están estos dos) */
    idiomas: [{nombre: 'español', id:'es'}, {nombre: 'inglés', id:'en'}],
    idiomas_select:[],
    idioma_seleccionado: '',

    /* niveles */
    niveles_select: [{id:1}, {id:2}, {id:3},{id:4},{id:5}, {id:6}, {id:7},{id:8},{id:9},{id:10}],
    opcion_niveles: [{opcion: "", texto: "nivel igual a "}, {opcion: "-", texto: "nivel menor o igual a "}, {opcion: "+", texto: "nivel mayor o igual a "}],    
    
    nivel_seleccionado: 1,
    opcion_seleccionada: '',

    /* errores */
    error_mensaje: false,
    error:'',
  }),  
  computed: {     
    idioma_favorito(){
      var idioma = '';
      switch (this.language) {        
        case "en":
          idioma ="inglés";          
          break;
        case "es":
          idioma ="español";
          break;        
      } 
      return idioma;
    },
        
    idioma_partida() {      
      var idioma = '';
      switch (this.idioma_seleccionado) {        
        case "inglés":
          idioma ="en";          
          break;
        case "español":
          idioma ="es";
          break;        
      } 
      return idioma;
    },
  },
  mounted(){
    for(let i=0; i<this.idiomas.length; i++){
      if(this.idiomas[i].id !== this.language){
        this.idiomas_select.push(this.idiomas[i]);
      }      
    }
    this.idioma_seleccionado = this.idioma_favorito;
  },
  methods: {
    partidaDetalles() {
      this.detalles = !this.detalles;
      this.partidaGenerada = false;
    },
    nivelSeleccionado() {      
      /* con axios accedo una partida con un nivel concreto*/
      const peticion = "/scrabble/challenge/request/" + this.idioma_partida + "/level/" + this.opcion_seleccionada + this.nivel_seleccionado;
      const promise = axios.post(peticion);        
      promise
        .then( (response) =>{
          console.log(peticion);
          console.log("se crea el challenge", response.data);
          this.partidaGenerada = true;                                
        });
        /* .catch ((error) =>{
          console.log(peticion);
          console.log(error);            
          this.error = "fallo al pedir nivel <= o >= al seleccionado";
          this.error_mensaje = true;           
        }); */ /* ya no hace falta */
    },
    cerrarErrores() {
      this.error_mensaje = false;
    }    
   }
};

/****** POST /scrabble/challenge/request/{lang}/level/{level}** [:monocle_face:](http://localhost/api/documentation "Soportada en OpenAPI")

Solicita una partida contra un usuario cuyo nivel sea level

- *Alias*: create_challenge_level.
- *Parámetros*: 

| Parámetro     |  Tipo       |  Descripción          |
| :----------:  | :-------:   | :------------         |
| lang          | Obligatorio | Idioma de la partida  |  
| level         | Obligatorio | Nivel al que se quiere jugar. Número (=), (-) <=, (*10) >=. Por ejemplo, -3 con niveles menores o iguales a 3 |  

- *Requerimientos*: Usuario autenticado.
- *Respuesta*: Si el idioma no está soportado 409 'Language not supported'; si el nivel es incorrecto 404, 'Level out of bounds'. En caso contrario 200 'Challenge created'..
*/

</script>

<style lang="scss" scoped>
/* de momento = totalmente a style del componente AngPartidaEnCursoComp */
@import "../../sass/ang_mixins";

.partida{
  color:white;
  margin-top: 1rem;
  position: relative;
  border-radius: 50%;
  min-height: none;
    div{
      @include centrado-flex(space-between);
      cursor: pointer;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      background-color: var(--color-explosion-1);
        @include cruzYraya();
    }
    form{
      width: 100%;
      background-color: white;
      color: var(--color-explosion-grey);
      position: absolute;
      z-index:50;    
      padding: 0;
      margin-bottom: 0;
        p.blue{
          color: var(--color-explosion-1);
        }
    }
    .resaltado{
      color: var(--color-explosion-2);
      padding-left: 1rem;
      font-weight: bold; 
    }
  }

@include modal(400px, 400px);

@media screen and (max-width: 700px) { 
  .partida{      
      form{
        position: static;        
      }
  }
}

</style>