<template>
  <div>
    <div class="partida shadow-sm">
      <div :class="{userTurno: userTurno, gameEnEspera: gameEnEspera}" class="cabecera-partida" @click.prevent="partidaDetalles()">        
        <span class="avatar"><img :src="game.opponent[0].avatar" /></span>
        <span>Tú contra <strong> {{ game.opponent[0].name | version_corta | uppercase }} </strong></span>
        <span :class="{ dasplus: !detalles, dasminus: detalles }" />  
      </div>
      <div v-if="detalles"
           class="ficha-partida shadow-sm"          
           method="POST"
           action=""
      > 
        <!-- datos partida en juego -->
        <!--  <p class="w-100"><span>Ruta avatar: </span><span class="destacado">{{ game.opponent[0].avatar }}</span></p>  -->
        <!--para saber si el oponente tiene avatar -->     
        <p class="w-100"><span>Idioma: </span><span class="destacado">{{ idioma_partida }}</span></p>
        <p class="w-100"><span>{{ game.opponent[0].name }}: </span><span class="destacado">{{ game.opponent_score }} puntos</span></p>                           
        <p class="w-100"><span>{{ user.name }}: </span><span class="destacado">{{ game.player_score }} puntos</span></p>                 
        <p class="w-100"><span>Actualizado: </span><span class="destacado">{{ ultima_tirada }}</span></p>
        <!-- botones continuar o abandonar -->  
        <button class="btn fondo_explosion1">                    
          <span class="nav-link text-light" @click="gotoGame($event, game.id)">CONTINUAR</span>
        </button>     
        <button class="btn fondo_explosion2" @click="abandonarFormaSegura">                    
          <span class="nav-link text-light">ABANDONAR</span>
        </button> 
      </div>
    </div>
    <div v-if="abandono_seguro" class="abandono-window modal">
      <div class="pop-up shadow-sm">
        <div>          
          <p class="azul mb-0">¿Estás seguro de que deseas abandonar esta partida contra {{ game.opponent[0].name }}?</p>
          <p class="aclaracion"><span class="asterisco">*</span>Se eliminará de la base de datos, no se podrá volver a jugar y no se registrarán los resultados de la misma.</p>                             
        </div>    
        <button class="btn" aria-hidden="true" @click="abandonarFormaSegura">NO</button>
        <button class="btn" aria-hidden="true" @click="$emit('abandono', game.id)">SI</button>
      </div>
    </div>   
  </div>
</template>

<script>
export default {
  name: "AngPartidaEnCurso",
  filters: {
    version_corta: function(val) {
        return val.slice(0,10);
    },
    uppercase:function(val) {
        return val.toUpperCase();
    },
  },
  props:{
    game: { required: true, type: Object },
    user:{ required: true, type: Object },
    /* 
    game:Object
    id:14
    language:"en"
    opponent:Array[1]
    opponent_score:209
    player_score:209
    state:0
    updated_at:"2021-05-24T17:56:58.000000Z"
    */            
  },
  data: () => ({
    /* panel de paritda ver/ocultar */
    detalles: false,

    /* para identificar los estados de las partidas por colores */
    userTurno: false,
    gameEnEspera: false,

    /* transformación de varios datos */
    ultima_tirada: '',
    idioma_partida: '',
    
    /* para que aparezca modal de abandono con seguridad */
    abandono_seguro: false,

    /* avatar */
    avatar: '',

   }),
     
  mounted(){
    console.log("partida recibida ", this.game);

    /* colores identificativos del estado */
    if(this.game.state === 1){
        this.userTurno = true;
      }else if(this.game.state === 0){
         this.gameEnEspera = true;
      }
      
    /* formato última tirada */
    this.ultima_tirada = this.game.updated_at.toString().slice(2,19);
    
    /* formato idioma */
    var idioma;
    if(this.game.language === 'en'){
      idioma = 'Inglés';
    }else if(this.game.language === 'es'){
      idioma = 'Español';
    }else{
      idioma = 'otro'
    }
    this.idioma_partida = idioma;
    
    /* avatar */
    this.avatar = this.game.opponent[0].avatar;

  },  
  methods: {
    partidaDetalles() {
      this.detalles = !this.detalles;
    },
    abandonarFormaSegura() {
      this.abandono_seguro = !this.abandono_seguro;
      this.detalles = false;
    },
    gotoGame(event, idg) {
      if (idg === undefined) {
        idg = this.requestChallengeId;
      }
      let url =
        location.protocol +
        "//" +
        location.hostname +
        (location.port ? ":" + location.port : "");
      window.location.href = url + "/scrabble/game/" + idg;
    },    
   }   
};

</script>

<style lang="scss" scoped>
/* de momento = totalmente a style del componente AngPartidaEnCursoComp */
@import "../../sass/ang_mixins";

.partida{
  color:white;
  margin-top: 1rem;
  position: relative;
  border-radius: 50%;
  min-height: none;
    
    .cabecera-partida{
      @include centrado-flex(space-between);
      cursor: pointer;
      padding: 0.5rem 0.5rem 0.5rem 5rem;     
      background-color: var(--color-explosion-5);        
        @include cruzYraya();
        .avatar{
          background-image: url("http://localhost/img/usuario_sin_avatar.png");
          background-size: cover;
          font-size: 1.5rem;
          @include rectangular-form-radius (60px, 60px, white, 50% );

          position: absolute;
          left: 0.6rem;
          top: -21px;

          @include centrado-flex();
          z-index:60;
          overflow: hidden;
        }
        &.userTurno{
          background-color: var(--color-explosion-2);
        }
        &.gameEnEspera{
          background-color: var(--color-explosion-grey);
        }
        img{
          width: 100%;
          height: 100%;
        }            
    }

    .ficha-partida{      
      position: absolute;
      width: 100%;      
      background-color: white;
      color: rgb(109, 109, 109);      
      
      z-index:2000;    
      padding: 1rem;
      margin-bottom: 0;

        span.destacado{
          color: black;         
          font-weight: bold;        
        }

        button{
          width: 100%;
          margin: 0 0 0.5rem 0;
          padding: 0;
        }
      }
  }

@include modal(40%, auto);
.aclaracion{
  font-size: 0.9em;
    .asterisco{
      font-size: 1.3em;
    }
}

@media screen and (max-width: 700px) { 
 .partida{ 
   .ficha-partida{
      position: static;
   }
 }
}
</style>