<template>
  <div>
    <div class="partida shadow-sm">
      <div @click.prevent="partidaDetalles()">
        <span>JUEGA <span class="resaltado">¡ELIGE UN RIVAL!</span></span>                    
        <span :class="{ dasplus: !detalles, dasminus: detalles }" />  
      </div>
      <form v-if="detalles" class="form-group shadow-sm" method="POST" action="">
        <!-- ERRORES -->
        <!-- <ul v-if="error_mensaje" class="list-group my-0 py-0 px-3 pt-3">
          <li class="list-group-item list-group-item-warning alert alert-dismissible pb-2" role="alert">
            {{ error }}
            <br />
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true" @click="cerrarErrores">&times;</span>
            </button>
          </li>
        </ul> -->
        <fieldset class="p-3 pb-2">
          <select v-model="idioma_seleccionado" class="custom-select mb-2">
            <option>{{ idioma_favorito }}</option>            
            <option v-for="idioma in idiomas_select" :key="idioma.id" :value="idioma.nombre">
              {{ idioma.nombre }}
            </option>
          </select>
          <div class="form-group">
            <label for="busquedaRival">Busca tu rival</label>
            <input id="busquedaRival"
                   v-model="name"
                   type="text"
                   class="form-control"
                   placeholder="al menos 3 caracteres"
            />
          </div>
          <div v-if="posiblesRivales" class="form-group">
            <label for="busquedaRival">Selecciona un rival para retarlo</label> 
            <ul class="rivales">
              <li v-for="rival in rivales" :key="rival.id">
                <a @click="retarRival(rival.id)">{{ rival.name }}</a>
              </li>
            </ul>
          </div>                    
        </fieldset>
        <fieldset v-if="partidaGenerada" class="px-3 pb-2">
          <p class="blue">¡Partida generada correctamente!</p>
        </fieldset>
      </form>
    </div>  
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "AngPartNuevaRivalComp",
  props:{
    language: { required: true, type: String },
  },
  data: () => ({
    detalles: false,
    partidaGenerada: false,  
    
    /* rivales */    
    rivales: [],      
    name: '',

    /* listado de idiomas (podría ampliarse, en ppio solo están estos dos) */
    idiomas: [{nombre: 'español', id:'es'}, {nombre: 'inglés', id:'en'}],
    idiomas_select:[],
    idioma_seleccionado: '',
        
    /* errores */
    error_mensaje: false,
    error:'',
  }),
  computed: {
    posiblesRivales(){
      let mostrar = false;
      if(this.rivales.length > 0){
        mostrar = true;
      }
      return mostrar;
    },
    letter3(){
      return this.name.slice(0,3);
    }, 
    idioma_favorito(){
      var idioma = '';
      switch (this.language) {        
        case "en":
          idioma ="inglés";          
          break;
        case "es":
          idioma ="español";
          break;        
      } 
      return idioma;
    },        
    idioma_partida() {      
      var idioma = '';
      switch (this.idioma_seleccionado) {        
        case "inglés":
          idioma ="en";          
          break;
        case "español":
          idioma ="es";
          break;        
      } 
      return idioma;
    },    
  },
  watch: {
    // cuando name tenga 3 letras se buscan los rivales
    name: function (name) {
      if(name.length === 2){
        /* vaciamos el array de rivales */        
        this.vaciarListaRivales();      
      }else if(name.length === 3) {             
        /* con axios busco rivales cuyo nombre cumpla un patrón dado para volver a llenar la lista*/ 
        this.llenarListaRivales();        
      }
    }
  }, 
  mounted(){
    /* idiomas */
    for(let i=0; i<this.idiomas.length; i++){
      if(this.idiomas[i].id !== this.language){
        this.idiomas_select.push(this.idiomas[i]);
      }      
    }
    this.idioma_seleccionado = this.idioma_favorito;
  },
  methods: {
   partidaDetalles() {
      this.detalles = !this.detalles;
      this.partidaGenerada = false;
    },
    retarRival(val) {      
      /* con axios accedo una partida con un rival seleccionado*/
      const peticion = "/scrabble/challenge/request/" + this.idioma_partida + "/against/" + val;
      const promise = axios.post(peticion);        
      promise
        .then( (response) =>{
          console.log(peticion);
          console.log("se crea el challenge", response.data);          
          this.vaciarListaRivales();
          this.name ="";
          this.partidaGenerada = true;                     
        });
        /* .catch ((error) =>{
            console.log(error);            
            this.error = "obligatorio escoger rival";
            this.error_mensaje = true;           
        }); */  /* ya no hace falta */    
    },
    cerrarErrores() {
      this.error_mensaje = false;
    },
    vaciarListaRivales(){
      /*vaciamos el array de rivales */
      const lengthInitialRivales = this.rivales.length;
      for(let i=0; i<lengthInitialRivales; i++){
          this.rivales.shift();
        }
      console.log("lista de rivales borrada");
    },
    llenarListaRivales(){
      /* con axios busco rivales cuyo nombre cumpla un patrón dado para volver a llenar la lista*/ 
      const promiseUpdate = axios.get("/scrabble/search/user/live", {
          params: {
            name: this.letter3,/* busco sólo 3 letras escriban lo que escriban, por ahora no me da para más */
          },
        });
        promiseUpdate
        .then( (response) =>{
          console.log("Lista usuarios: ", response.data);
          /* primero vacío la lista de rivales */
          this.vaciarListaRivales();
          /* segundo la lleno con lo que recibo por axios */
          for(let i=0; i<response.data.length; i++){            
            var objetoRival = {name: response.data[i].name, id: response.data[i].id};
            this.rivales.push(objetoRival);
          }                                      
        });
        /* .catch ((error) =>{          
          console.log('ANGELES', error);                       
        }); *//* ya no hace falta */
    }, 
  }
};
/****POST /scrabble/challenge/request/{lang}/against/{id}**

Solicita una partida contra el usuario cuyo identificador es id

- *Alias*: create_challenge_user.
- *Parámetros*: 

| Parámetro     |  Tipo       |  Descripción          |
| :----------:  | :-------:   | :------------         |
| lang          | Obligatorio | Idioma de la partida  |  
| id            | Obligatorio | Identificador del usuario que se quiere retar  |  

- *Requerimientos*: Usuario autenticado.
- *Respuesta*: Si el idioma no está soportado 409 'Language not supported'; si el id del contrincante no se localiza 404, 'Opposing player not found'. En caso contrario 200 'Challenge created'.

**POST /scrabble/challenge/request/{lang}/level/{level}** [:monocle_face:](http://localhost/api/documentation "Soportada en OpenAPI")

*/
/* **GET /scrabble/search/user/live**

Devuelve una lista de usuarios cuyo nombre (_name_) coincida con la plantilla pasada.

- *Alias*: search_user.
- *Parámetros*: 

| Parámetro     |  Tipo       |  Descripción          |
| :----------   | :-------    | :------------         |
| name          | Obligatorio | Letras que componen el nombre a buscar  |  

- *Requerimientos*: Usuario autenticado.
- *Respuesta*: JSON con un array con los usuarios que coinciden con esa plantilla.

| Parámetro              |  Descripción                     |
| :----------            | :------------                    |
| user.id                | Identificador del jugador        |
| user.name              | Nombre del jugador               |


- *Ejemplo*: se pasa como parametro name: _an_ y devuelve todos aquellos usuarios cuyo nombre tenga en algún lugar las letras an: "ANtonio", "romAN", "sANdra".... */

</script>

<style lang="scss" scoped>
/* de momento = totalmente a style del componente AngPartidaEnCursoComp */
@import "../../sass/ang_mixins";

.partida{
  color:white;
  margin-top: 1rem;
  position: relative;
  border-radius: 50%;
  min-height: none;
    >div{
      @include centrado-flex(space-between);
      cursor: pointer;
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      background-color: var(--color-explosion-1);
        @include cruzYraya();
    }
    form{
      width: 100%;
      background-color: white;
      color: var(--color-explosion-grey);
      position: absolute;
      z-index:50;    
      padding: 0;
      margin-bottom: 0;
        p.blue{
          color: var(--color-explosion-1);
        }
    }
    .resaltado{
      color: var(--color-explosion-2);
      padding-left: 1rem;
      font-weight: bold; 
    }
    .rivales li{      
      margin-left: 0;
        a{
        color: var(--color-explosion-1);
        cursor: pointer;
        font-weight: bold;
          &:hover{
            color: var(--color-explosion-2)
          }          
      }
    }
  }

@include modal(400px, 400px);

@media screen and (max-width: 700px) { 
  .partida{      
      form{
        position: static;        
      }
  }
}

</style>