<template>
  <div class="notificaciones">
    <span class="das-mail4" @click.prevent="userNotifications()" /> {{ notifications.length }} mensajes sin leer
    <div v-if="userNotif" class="notifications-window modal">
      <div class="pop-up shadow-sm">
        <div v-for="notification in notifications" :key="notification.id" :class="{ readednotif: readednotif }">
          <span>{{ notification.updated_at | solo_fecha }}</span>
          <p class="azul mb-0">{{ notification.type }}</p>
          <p>{{ notification.notification }}</p>                    
        </div>      
        <button title="desaparecerán del panel" class="btn" aria-hidden="true" @click="$emit('leer-not')">MARCAR COMO LEIDAS</button>         <button class="btn" aria-hidden="true" @click="userNotifications()">CERRAR</button>
      </div>
    </div>
  </div>
</template>

<script>
/* import axios from "axios"; */

export default {
  name: "AngUserNotificacionesComp",
  filters: {
    solo_fecha: function(val) {
          return val.slice(0,10);
      }
  },
  props:{
    notifications: { required: true, type: Array }, 
  },
  data: () => ({
    /* para mostrar las notificaciones no leidas */
    userNotif: false,

    /* para mostrar con menos opacidad las notificaciones leidas */
    readednotif: false,
  }),
  computed: {
   /* ??? */ 
  },
  mounted() {
    console.log("AngUserNotificacionesComp montado.");
  },
  methods: {
    /* para que se muestre y esconda el panel de notificaciones */
    userNotifications() {
      this.userNotif = !this.userNotif;
    }    
  }   
};
</script>

<style lang="scss" scoped>
@import "../../sass/ang_mixins";
.notificaciones{
  font-size: 1.1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

    span[class|=das]{
      @include rectangular-form-radius (40px, 40px, var(--color-explosion-5), 50%);
      color:var(--color-explosion-3);
      font-size: 2rem;
      margin-right: 0.4rem;
      padding-bottom: 2px;
      
      @include centrado-flex ();
      @include hover-back-front ($back: var(--color-explosion-4), $front: var(--color-explosion-3) ); 
  }

  span[class=das-mail4]{
    font-size: 2.5rem;
    cursor: pointer;        
  }
  .readednotif{
    opacity: 0.5;
  }
}

@include modal(40%, auto);

</style>