<template> 
  <div>    
    <!-- ACTUALIZACIÓN-->
    <div class="edita-perfil no_pointer">
      <ul class="bg-white shadow-sm mt-2 py-0">
        <li>
          <p><span>AVATAR: </span><span>Actualiza tu foto de perfil</span></p>
          <ang-upload-image-comp class="upload-image-padre" :image="avatar" @avatar-change="onAvatarChange" />        
        </li>        
      </ul>
      <br />      
      <!-- LISTA CON DATOS DE USUARIO PARA ACTUALIZAR -->
      <ul class="bg-white shadow-sm">        
        <li>
          <p><span>NOMBRE: </span><input v-model="userDataToEdit.name" type="text" :disabled="isDisabled[0].state" :placeholder="user.name" /></p>
          <span class="das-pencil" @click.stop="inputAble(0)" />        
        </li>
        <li>
          <p><span>EMAIL: </span><input v-model="userDataToEdit.email" type="text" :disabled="isDisabled[1].state" :placeholder="user.email" /></p>
          <!-- no editable -->
        </li>
        <li>
          <p>
            <span>PASSWORD: </span>
            <input v-model="userDataToEdit.old_password"
                   type="text"
                   placeholder="tu password"
                   title="para cambiar de password, primero introduce el actual"
                   :disabled="isDisabled[2].state"
            />
          </p>
          <span class="das-pencil" @click.stop="inputAble(2)" />
        </li>
        <li v-if="newPasswords">
          <p><span>NEW PASSWORD: </span><input v-model="userDataToEdit.new_password" type="text" :disabled="isDisabled[2].state" /></p>
        </li>
        <li v-if="newPasswords">       
          <p><span>REPEAT NEW PASSWORD: </span><input v-model="userDataToEdit.new_password_confirmation" type="text" :disabled="isDisabled[2].state" /></p>        
        </li>
        <li>
          <p><span>IDIOMA FAVORITO: </span><input v-model="userDataToEdit.favourite_language" type="text" :disabled="isDisabled[3].state" :placeholder="user.favourite_language" /></p>
          <span class="das-pencil" @click.stop="inputAble(3)" />
        </li>        
        <!-- ERRORES -->
        <ul v-if="mostrarErrores" class="list-group my-0 py-1 px-0">
          <li class="list-group-item list-group-item-warning alert alert-dismissible my-1" role="alert">
            {{ error }}
            <br />
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true" @click="cerrarErrores">&times;</span>
            </button>
          </li>
        </ul>
        <li>          
          <p class="botones-edicion"><span>GUARDAR CAMBIOS</span><span>Tu perfil quedará actualizado</span></p>
          <button class="btn fondo_explosion1" @click="prepararCambios">GUARDAR</button>
        </li>
        <li>
          <p><span>BORRAR CUENTA</span></p> 
          <span class="das-cross" @click="removeUserFormaSegura" />
        </li>
      </ul>    
    </div>
    <!-- modal con avisos de lo que se guarda -->
    <div v-if="mostrar_mensaje" class="mensaje-window modal">
      <div class="pop-up shadow-sm">
        <div>          
          <p class="azul mb-2">{{ mensajeRespuesta }}</p>                                       
        </div>    
        <button class="btn" aria-hidden="true" @click="vaciarMensaje">CERRAR</button>        
      </div>
    </div>
    <!-- modal removeUser de forma segura -->
    <div v-if="remove_user_seguro" class="remove-user-window modal">
      <div class="pop-up shadow-sm">
        <div>          
          <p class="azul mb-0">¿Estás seguro de que quieres eliminar tu cuenta?</p>
          <p class="aclaracion"><span class="asterisco">*</span>Se eliminará de la base de datos, no podrá volver a jugar con este usuario.</p>                             
        </div>    
        <button class="btn" aria-hidden="true" @click="removeUserFormaSegura">NO</button>
        <button class="btn" aria-hidden="true" @click="removeUser">SI</button>
      </div>
    </div>
  </div>
</template>

<script>

import axios from "axios";
import AngUploadImageComp from "./AngUploadImageComp";

export default {
  name: "AngUserDataComp",
  components: {
    AngUploadImageComp,    
  },
  props: {
    user: { required: true, type: Object },
    avatar: { required: true, type: String },
  },
  emi:{

  },
  data:() => ({
    isDisabled: [
      {idx: 0, state: true},
      {idx: 1, state: true},
      {idx: 2, state: true},
      {idx: 3, state: true}],
    userDataToEdit: { name: '', favourite_language: '', old_password: '', new_password: '', new_password_confirmation: '' },
    newPasswords: false,
    error: '',
    mensajeRespuesta: '',    
    mostrar_mensaje: false,
    mostrarErrores: false,
    remove_user_seguro: false,
  }),
  computed: {
     
  },  
  mounted() {    
    console.log("AngDataComp montado.");
    this.userDataToEdit = { name: this.user.name, favourite_language: this.user.favourite_language, old_password: '', new_password: '', new_password_confirmation: '' };    
  },
  methods: {
    onAvatarChange(image) {
      this.$emit("avatar-change", image);
    },

    inputAble(idx) {
      /* no puede existir + de un input para editar a la vez */
      for(var i=0; i<this.isDisabled.length; i++){
        if(idx === 2){   
          this.newPasswords = true;
          this.isDisabled[2].state = false;  
        }else if(idx === i){
          this.isDisabled[i].state = false;
        }else{
          this.isDisabled[i].state = true;
          this.newPasswords = false;
        }
      }
    },
    prepararCambios(){
      if(
        /* si no se edita nada, no hay cambios en el formulario */
        this.userDataToEdit.old_password === '' &&
        this.userDataToEdit.new_password === '' &&
        this.userDataToEdit.new_password_confirmation === '' &&
        this.userDataToEdit.name === this.user.name &&
        this.userDataToEdit.favourite_language === this.user.favourite_language)
      {
        this.mensajeRespuesta = "No has realizado ningún cambio en los datos";
        this.mostrar_mensaje = true;
        return
      }else if(
        /* si se edita name, favourite_language o ambos, sin tocar las contraseñas */
        this.userDataToEdit.old_password === '' &&
        this.userDataToEdit.new_password === '' &&
        this.userDataToEdit.new_password_confirmation === '')           
      {
        const peticion = { name: this.userDataToEdit.name, favourite_language: this.userDataToEdit.favourite_language};
        const salir = false;
        this.guardarCambios(peticion, salir);
      }else{
        /* si se tocan las contraseñas */
        const peticion = this.userDataToEdit;
        const salir = true;
        this.guardarCambios(peticion, salir);
      }  
    },
    guardarCambios(peticion, salir){      
      const promiseUpdate = axios.put("/scrabble/user/update/", JSON.stringify(peticion));
      promiseUpdate
      .then( (response) =>{
        console.log(response.data);
        console.log("datos a cambiar", peticion);
        console.log("Los datos del perfil se han actualizado correctamente");
        /* mostramos mensaje de guardado correcto */
        this.mensajeRespuesta = "Los datos del perfil se han actualizado correctamente.";
        this.mostrar_mensaje = true;
        if(salir === true){
          /* si funciona se vuelve a la página de login */                                
          const promiseLogout = axios.post("/scrabble/logout");
          promiseLogout
          .then( (response) =>{          
              console.log(response);          
              location.replace("/scrabble/login")                    
          })
        }else{ 
          console.log("mi respuesta", peticion);
          /* emitimos un evento que cambia el c_user.name en el padre */          
          const nombre = peticion.name;        
          this.$emit('changeName', nombre);
          /* emitimos un evento que cambia el c_user.favourite_language en el padre */ 
          /* const language = peticion.favourite_language;        
          this.$emit('changeLanguage', language); *//* no me funciona */
        }                                         
      })
      .catch ((error) =>{          
        console.log('angeles', error);
        /* mostramos error de que algo ha fallado */        
        this.abrirErrores();
        switch (error.response.status) {        
        case 409:
          this.error = error.response.status + ": me falta recoger los datos de este error (Conflicto)";          
          break;        
        default:
          this.error = error.response.status + ": " + error.response.data;
        ;
      }                  
      });
      /* *Respuesta*: Si el usuario no se encuentra, 404 'User not found'; si el idioma no se encuentra, 409 'Language not supported'; si la contraseña es incorrecta, 401 'Password incorrect'; en caso de error de validación un mensaje 409 (conflict) con la descripción del error. En caso contrario 200 'User updated'. */
    }, 
    vaciarMensaje(){
    this.mostrar_mensaje = false;
    this.mensajeRespuesta = ''; 
    },
    removeUserFormaSegura(){
      this.remove_user_seguro = !this.remove_user_seguro;
    },
    removeUser(){
      const peticion = "/scrabble/user/remove"
      console.log(peticion);
      const promise = axios.delete(peticion);
        promise
        .then( (response) =>{            
            console.log("usuario eliminado", response);
            /* mostramos mensaje de eliminación de usuario correcta */
            this.mensajeRespuesta = "Su usuario ha sido eliminado correctamente. le echaremos de menos. :(";
            this.mostrar_mensaje = true;
            /* si funciona se vuelve a la página de login */                                
            const promise = axios.post("/scrabble/logout");
            promise
            .then( (response) =>{          
                console.log(response);          
                location.replace("/scrabble/login")                    
            })
            .catch (function (error){
                console.log(error);           
            });                       
        })
        .catch (function (error){
            console.log(error);            
        });
    },
    cerrarErrores(){
      this.mostrarErrores = false;
    },
    abrirErrores(){
      this.mostrarErrores = true;
    }
  },  
};
</script>

<style lang="scss" scoped>
@import "../../sass/ang_mixins";

.edita-perfil{  
  ul{
    padding: 1rem;
    margin-bottom: 0;
      li{
        list-style-type: none;
        padding: 0.6rem;
        border-bottom: 1px solid var(--color-explosion-grey);
        @include centrado-flex (space-between);  

          p{  
            color: var(--color-explosion-grey);
            padding-top: 12px;            
              span:first-of-type{
                display: inline-block;
                min-width: 200px;
                color: var(--color-explosion-black);                
              }
          }
          span[class|=das]{
              font-size: 1.5rem;
              color: var(--color-explosion-1);
              cursor: pointer;
                @include hover-back-front ($front: var(--color-explosion-2)); 
          }          
      }

      li:last-child{
        border-bottom: none;   
          span[class|=das]{
              font-size: 1rem;              
          }
      }      
    }
  //es la caja donde se coloca el componente de subida de imágenes
  .upload-image-padre{
    height: 100px;
    width: 100px;
  }
  
  // es el div padre del componente de subida de imágenes (clase del upload-image-component)
  .upload-image {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }  

}
//para la ventana modal
@include modal(40%, auto);
</style>