<template>
  <div class="puntos"><span class="das-star-full" />nivel 3</div>
  <!-- hubiera estado bien recoger las estadísticas en el dashboard para mandar el nivel en el idioma favorito por el usuario a este componente --> <!-- pero no lo he implementado el nivel es "falso", siempre 3 -->
</template>

<script>
export default {
  name: "AngUserMainLevelComp",
  
};
</script>

<style lang="scss" scoped>
@import "../../sass/ang_mixins";
.puntos{
  font-size: 1.1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

    span[class|=das]{
      @include rectangular-form-radius (40px, 40px, var(--color-explosion-5), 50%);
      color:var(--color-explosion-3);
      font-size: 2rem;
      margin-right: 0.4rem;
      padding-bottom: 2px;
      
      @include centrado-flex ();
      @include hover-back-front ($back: var(--color-explosion-4), $front: var(--color-explosion-3) ); 
  }

  span[class=das-mail4]{
    font-size: 2.5rem;        
  }
}

</style>