/* preparado para maquetar los detalles del aside de news y el panel de usuario (dashboard o tablero de juego) */

#app-layout {
  /* display grid */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;
}

#app-layout .board {
  grid-column: span 4;
}

@media screen and (max-width: 1200px) {
  #app-layout {
    /* display grid */
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 16px;
  }

  #app-layout .news {
    grid-column: span 2;
  }

  #app-layout .board {
    grid-column: span 6;
  }
}

@media screen and (max-width: 990px) {
  #app-layout {
    display: flex;
    flex-direction: column-reverse;
  }
}

