/* EFECTO ESTRELLAS CHISPEANTES (SHINES) */

.shines {
  position:relative;
  overflow: hidden;
}

.shines figure * {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

.star {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background: #f6f6f6;
  overflow: hidden;
  z-index: 2;
  animation: glitter 4.5s linear 0s infinite normal;
  -webkit-animation: glitter 4.5s linear 0s infinite normal;
  -moz-animation: glitter 4.5s linear 0s infinite normal;
  -ms-animation: glitter 4.5s linear 0s infinite normal;
  -o-animation: glitter 4.5s linear 0s infinite normal;
}
.star-top,
.star-bottom {
  position: relative;
  display: block;
}
.star-top:before,
.star-top:after,
.star-bottom:before,
.star-bottom:after {
  content: '';
  width: 12px;
  height: 12px;
  /* color de fondo de los botones explosion-1 */
  background: var(--color-explosion-1);
  border-radius: 50%;
  position: absolute;
}

button.fondo_explosion1:hover .star-top:before,
button.fondo_explosion1:hover .star-top:after,
button.fondo_explosion1:hover .star-bottom:before,
button.fondo_explosion1:hover .star-bottom:after {  
  background: var(--color-explosion-2);
}

/*CSS3 pseudo class for positioning curves*/

.star-top:before {
  top: -6px;
  left: -6px;
}
.star-top:after {
  bottom: -6px;
  left: 6px;
}
.star-bottom:before {
  top: 6px;
  left: -6px;
}
.star-bottom:after {
  top: 6px;
  left: 6px;
}
/*CSS3 keyframes for glittering effect*/

@-webkit-keyframes glitter {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  25% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes glitter {
  0% {
    -moz-transform: scale(1);
    opacity: 1;
  }
  25% {
    -moz-transform: scale(0.5);
    opacity: 0;
  }
  50% {
    -moz-transform: scale(1);
    opacity: 1;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 1;
  }
}