@font-face {
  font-family: 'menu_button';
  src:  url('../fonts/menu_button.eot?o5ufig');
  src:  url('../fonts/menu_button.eot?o5ufig#iefix') format('embedded-opentype'),
    url('../fonts/menu_button.ttf?o5ufig') format('truetype'),
    url('../fonts/menu_button.woff?o5ufig') format('woff'),
    url('../fonts/menu_button.svg?o5ufig#menu_button') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="men-"], [class*=" men-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'menu_button' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.men-menu:before {
  content: "\e9bd";
}
.men-cross:before {
  content: "\ea0f";
}
