@font-face {
  font-family: 'arrows';
  src:  url('../fonts/arrows.eot?5i8fw5');
  src:  url('../fonts/arrows.eot?5i8fw5#iefix') format('embedded-opentype'),
    url('../fonts/arrows.ttf?5i8fw5') format('truetype'),
    url('../fonts/arrows.woff?5i8fw5') format('woff'),
    url('../fonts/arrows.svg?5i8fw5#arrows') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="arr-"], [class*=" arr-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'arrows' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.arr-chevron-up:before {
  content: "\e900";
}
