@font-face {
  font-family: 'social';
  src:  url('../fonts/social.eot?9q4r98');
  src:  url('../fonts/social.eot?9q4r98#iefix') format('embedded-opentype'),
    url('../fonts/social.ttf?9q4r98') format('truetype'),
    url('../fonts/social.woff?9q4r98') format('woff'),
    url('s../fonts/social.svg?9q4r98#social') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="soc-"], [class*=" soc-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'social' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.soc-share2:before {
  content: "\ea82";
}
.soc-google-plus:before {
  content: "\ea8b";
}
.soc-google-plus2:before {
  content: "\ea8c";
}
.soc-facebook:before {
  content: "\ea90";
}

/* FACEBOOK */
.soc-facebook2:before {
  content: "\ea91";
}

/* INSTAGRAM */
.soc-instagram:before {
  content: "\ea92";
}
.soc-whatsapp:before {
  content: "\ea93";
}

/* TWITTER */
.soc-twitter:before {
  content: "\ea96";
}
.soc-youtube:before {
  content: "\ea9d";
}
.soc-skype:before {
  content: "\eac5";
}
.soc-linkedin:before {
  content: "\eac9";
}
.soc-linkedin2:before {
  content: "\eaca";
}
