@font-face {
  font-family: 'dashboard';
  src:  url('../fonts/dashboard.eot?nrot1g');
  src:  url('../fonts/dashboard.eot?nrot1g#iefix') format('embedded-opentype'),
    url('../fonts/dashboard.ttf?nrot1g') format('truetype'),
    url('../fonts/dashboard.woff?nrot1g') format('woff'),
    url('../fonts/dashboard.svg?nrot1g#dashboard') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="das-"], [class*=" das-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dashboard' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.das-switch:before {
  content: "\e900";
}
.das-pencil:before {
  content: "\e905";
}
.das-image:before {
  content: "\e90d";
}
.das-search:before {
  content: "\e986";
}
.das-eye:before {
  content: "\e9ce";
}
.das-star-full:before {
  content: "\e9d9";
}
.das-heart:before {
  content: "\e9da";
}
.das-plus:before {
  content: "\ea0a";
}
.das-minus:before {
  content: "\ea0b";
}
.das-cross:before {
  content: "\ea0f";
}
.das-checkmark:before {
  content: "\ea10";
}
.das-play3:before {
  content: "\ea1c";
}
.das-mail4:before {
  content: "\ea86";
}
