:root{
/* Colores corporativos in Hex */
--color-explosion-1: #1abacc;
--color-explosion-2: #18546b;
--color-explosion-3: #F22233;
--color-explosion-4: #fa7c65;
--color-explosion-5: #F29E38;
--color-explosion-white: #F2F2F2;
--color-explosion-black: #000000;
--color-explosion-grey: #b6b6b6;
}

/* Clases colores */
.azul {
    color: var(--color-explosion-1);
}

.rosa {
    color: var(--color-explosion-3);
}

/* FONDOS CORPORATIVOS */
/* botones */
.btn.fondo_explosion1{
    background-color: var(--color-explosion-1);
    color: white;    
}

.btn.fondo_explosion1:hover{
    background-color: var(--color-explosion-2);
}

.btn.fondo_explosion2{
    background-color: var(--color-explosion-3);    
}

.btn.fondo_explosion2:hover{
    background-color: var(--color-explosion-5)
}

.fondo_explosionWhite{
    background-color: var(--color-explosion-white)
}

/* fondos normales */
.fondo_explosion3_4_5{
    background-image: linear-gradient(90deg , var(--color-explosion-3) , var(--color-explosion-4), var(--color-explosion-5));
}

/* ELEMENTOS EN GENERAL */

main{
    margin: 0 auto;
}

/*enlaces*/
a{
    color: var(--color-explosion-1);
}

a:hover{
    color: var(--color-explosion-2);
}

.btn a.nav-link{
    color:var(--color-explosion-white);
    text-decoration: none;
}

.btn a.nav-link:hover{
    color:var(--color-explosion-black);
}

/* CLASES BOOTSTRAP ADAPTADAS */

.rounded{
    border-radius: 10px !important;
}

/* MENÚ FIJO LOGO */

#menuLogo{
    width: 100%;
    z-index: 200;
    padding: 1em 1em;
    border-bottom: 1px solid var(--color-explosion-1);
    background-color: var(--color-explosion-white);
}

#menuLogo .btn a.nav-link:hover{
    color:var(--color-explosion-white);
}

/* Este rollo se debe a que el logo trazado .svg no existe y lo simulo con 2 pngs */

a[href="http://localhost/"] img{
    margin-left: -20px;
}

a[href="http://localhost/"] img:first-child{
    display: none;
}

a[href="http://localhost/"]:hover img:first-child{
    display: inline;
}

a[href="http://localhost/"]:hover img:nth-child(2){
    display: none;
}

header a[href="http://localhost/scrabble/login"]:before{
    content: "¡JUEGA SCRABBLE!";
}

/* AREA PARA LOS CONTENIDOS */

#contenidos{
    padding-top: 4.5em;
}

#contenidos header{
    padding: 1em 0;
}

/* MENÚ PARA LOS CONTENIDOS DE LA IMPRENTA*/

#menuImprenta{
    padding: 1em 0;
    margin-top: 2em;
    background-color: #fff;
    border-radius: 10px;
}

#menuImprenta li a{
    color: var(--color-explosion-black);
    font-size: 1.05rem;    
}

#menuImprenta a:hover{
    color: var(--color-explosion-3);
    animation: salto ease 1s 1;  
}

#menuImprenta a.active {
    color: var(--color-explosion-3); 
}

#imprentaBoton{
    color: var(--color-explosion-1);    
    width: 100%;
    display:none;
}

#imprentaBoton:hover{
    color: var(--color-explosion-2);
}

.men-menu{
    display:none;
    font-size: 1.5em;
}

.men-cross{
    display:none;
    font-size: 1.3em;
}

/* ADAPTACIONES MENÚ IMPRENTA */
#menuImprenta li:nth-of-type(3) a:before{
    content: "trabajos en la imprenta del S.XV";
}

#menuImprenta li:nth-of-type(6) a:before{
    content: "lugares emblemáticos";
}

/* ARTICLES EN GENERAL */

article.tab-content h2{
    padding: 0.5em 0;
    margin-top: 1em;
}

    /* ARTICLE: GUTEMBERG */

    .tab-pane>div>img[src="img/guttemberg_01.jpg"]{
        width:250px;
    }

    /* ARTICLE: INVENTO */
    .prensa{
        object-fit: cover;
    }
    

/* MENÚ REDES SOCIALES */

#social a{
    font-size: 1.5em;
}

#social .nav-link{
    padding: 0 1.5em;
    color: var(--color-explosion-white);
}

#social .nav-link:hover{
    color: var(--color-explosion-black);
    padding: 0 1.5em;
}

/* FOOTER */

footer {    
    padding: 1em 0;
    font-weight: 400;
}

footer a, footer .nav-link:hover  {
    text-decoration: underline;
}

/* SCRABBLE JUEGO */

/* AZULEJOS */

.badge.bono{
    min-width: 40px;
    height: 40px;
    border-radius: 3px;
    margin-right: 1.2em;   
    
    display: flex;
    justify-content: center;
    align-items: center;

    color:white;
}

.ld{
    background-color: var(--color-explosion-1);     
}
.lt{
    background-color: var(--color-explosion-2);    
}
.pd{
    background-color: var(--color-explosion-4);    
}
.pt{
    background-color: var(--color-explosion-3);     
}

/* TOOLTIPS ESPECIALES --usados en Guttemberg de momento--basados en https://bbbootstrap.com/snippets/tooltip-image-and-content-36745684 */

.mytooltip {    
    display: inline;
    position: relative;
    z-index: 99;
}

.mytooltip .tooltip-content {
    border-radius: 10px;
    position: absolute;
    z-index: 999;
    width: 360px;
    left: 50%;
    margin: 0 0 20px -180px;
    bottom: 100%;
    text-align: left;
    font-size: 14px;
    line-height: 30px;
    background: var(--color-explosion-3); 
    opacity: 0;
    cursor: default;
    pointer-events: none
}

.mytooltip .tooltip-content::after {
    content: '';
    top: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: var(--color-explosion-3) transparent transparent;
    border-width: 10px;
    margin-left: -10px
}

.mytooltip .tooltip-content img {
    position: relative;
    height: 160px;
    display: block;
    float: left;
    margin-right: 1em;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.mytooltip .tooltip-item::after {
    content: '';
    position: absolute;
    width: 360px;
    height: 20px;
    bottom: 100%;
    left: 50%;
    pointer-events: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.mytooltip:hover .tooltip-item::after {
    pointer-events: auto
}

.mytooltip:hover .tooltip-content {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg)
}

.mytooltip:hover .tooltip-content2 {
    opacity: 1;
}

.mytooltip .tooltip-text {
    line-height: 24px;
    display: block;
    padding: 1.31em 1.21em 1.21em 0;
    color: #fff
}

/* ANIMACIÓN PARA LA COLOCACIÓN DE CONTENIDOS */

.tab-pane, #login, #registro, .mensaje, .userdata{
    /* pequeña animación al colocarse el contenido de cada apartado*/
    animation: colocacion ease 1s 1;    
}

/* animación de aparicion tab-pane*/
@keyframes colocacion {
    0%{
        opacity: 0;
        transform: translate(0,25px);
    }  
    100%{
        transform: translate(0,0);
        opacity: 1;
    }
}

/* GALLERY ITEMS --usados en varios apartados y basados en https://bootstrapious.com/p/bootstrap-photo-gallery */

/* personalización */

.tarjeta{
    padding: 0 !important;
    border-radius: 10px; 
    min-height: 200px;
    cursor: pointer; 
}

/* configurado para permitir divs con imagen de fondo en lugar de imagen con la proporción adecuada */
.tarjeta>div.stretchy-wrapper {
    width: 100%;    
    padding-bottom: 75%; /* 4:3 */
    position: relative;
}

/* Other aspect ratios to try:
 * 56.25% = 16:9
 * 75% = 4:3
 * 66.66% = 3:2
 * 62.5% = 8:5
 */

 .tarjeta>div.stretchy-wrapper > div{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.img_detail{
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    width: 100%;
    /* background-color: var(--color-explosion-4); */ /* fondo de color como ejemplo si no hay img */
}

.img_detail img {
    position: absolute;
    width: 100%;
    padding: 0.25rem;
    background-color: #f5f8fa;
    border: 1px solid #dee2e6;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h5.text-dark{
    color: var(--color-explosion-3)!important;
}

.tarjeta:hover h5{
    text-decoration: underline;
}

.no_pointer {
    cursor: context-menu;
}

.no_pointer:hover h5 {
    cursor: context-menu;
    text-decoration: none;
}

/*  NUMERACIÓN DE TARJETAS CUANDO ES NECESARIO */

/* solo hará falta introducir un:<div class="number"><span>1</span></div> como primer elemento en el div contenido de las tarjetas */
.contenido{
position: relative;
}

.number{
position: absolute;
right:24px;
top:-30px;
z-index: 2000;

width: 54px;
height: 54px;

background-color: var(--color-explosion-3);

display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
}

.number span{
    font-size: 1.6em;
    color:white;
}

.card-body p{
    font-size: 0.9rem;
}

/* FOTOS EN GRANDE Y POSITION ABSOLUTE -- como funciona la ampliación de imágenes */

.big-image{
    position:fixed;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.8);

    z-index: 99999999999999999999999;
}
.big-image>div{
display: flex;
justify-content: center;
align-items: center;
}

.card .card-body{
    font-size: 1rem;
}

.card .card-body span{
    font-size: 2rem;
}

/* MASONRY GALERY ADAPTACIONES -- https://bootstrapious.com/p/bootstrap-masonry  -- algo me falla en el contenedor*/

body {
    min-height: 100vh !important;     
}

.galeria_masonry {
    min-height: 100vh !important; 
}

.grid-item{
    cursor: pointer !important;
}

.grid-item .img-thumbnail {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.grid-item:hover h5{
    text-decoration: underline;
}

/* animación de items menuImprenta*/
@keyframes salto {
    0%{
        transform: translate(0,0px);
    }  
    50%{  
        transform: translate(0,-2px);
    }
    100%{
        transform: translate(0,0px);;
    }
}

/* ARROW ANIMATION */

.icon_arrow, .icon_arrow2, .icon_arrow3, .icon_arrow4  {
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(-50%,-50%) scale(0.6);
    width: 80px;
    height: 60px;    
  }
  
  .arrow {
    position: absolute;
    top: 25px;
    width: 90%;
    height: 10px;
    background-color: black;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    /* animation: arrow 1400ms linear infinite; */
  }
  
  .arrow::after, .arrow::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 10px;
    right: -8px;
    background-color: black;
  }
  
  .arrow::after {
    top: -12px;
    transform: rotate(45deg);
  }
  
  .arrow::before {
    top: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }

  /* PANELES GIRATORIOS --> https://bbbootstrap.com/snippets/bootstrap-5-user-s-testimonial-card-flipping-and-background-animation-90081105*/ 

    .card-g {
        width: 100%;
        min-height: 280px;
        transform-style: preserve-3d;
        perspective: 500px;
        border: none;
        background-color: inherit
    }

    .card-g .face {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;       
        background: white;
        transform-style: preserve-3d;
        transition: 0.5s;
        backface-visibility: hidden;

    }

    .card-g .face.front-face,
    .card-g .face.back-face {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center
    }

    .card-g:hover .face.front-face {
        transform: rotateY(180deg)
    }

    .card-g .face.back-face {
        position: absolute;
        transform: rotateY(180deg);
        /* padding: 20px 30px; */
        text-align: center;
        user-select: none
    }

    .card-g:hover .face.back-face {
        transform: rotateY(360deg)
    }

    .card-g img.cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-g .btn a:hover{        
        color:white;
    }

.letra_pequena *, label.letra_pequena{
    font-size: 0.8rem;
}

/* MEDIA-QUERIS PEQUEÑAS ADAPTACIONES */

/* Configuración para permitir que las .big-image se vean lo + grande posible encajando al completo en la pantalla */

@media only screen and (orientation: landscape) {
.big-image>div img{        
    max-height: 90vh;
    width: auto;
    }
}
@media only screen and (orientation: portrait) {
.big-image>div img{
    max-width: 90vw;
    height: auto;
    }
}

/* Pequeñas adaptaciones generales no solucionadas con Bootstrap */

@media screen and (min-width: 992px) {

/* MENÚ PARA LOS CONTENIDOS DE LA IMPRENTA*/

#menuImprenta{
    display: flex;
}

/* Carruseles */
.carousel-control-next{
    right: -80px;
    opacity: 0.7;
}

.carousel-control-prev{
    left: -80px;
    opacity: 0.7;
}

}

@media screen and (max-width: 1200px) {

/* ARROW ANIMATION */
.icon_arrow2, .icon_arrow3, .icon_arrow4 {
    transform: translate(-50%,-50%) scale(0.6) rotate(90deg);
}

/* ADAPTACIONES MENÚ IMPRENTA */
#menuImprenta li:nth-of-type(3) a:before{
    content: "trabajos";
}

#menuImprenta li:nth-of-type(6) a:before{
    content: "lugares";
}

}

@media screen and (max-width: 992px) {

/* MENÚ FIJO LOGO */

header a[href="http://localhost/scrabble/login"]:before{
    content: "¡JUEGA!";
}

/* MENÚ PARA LOS CONTENIDOS DE LA IMPRENTA*/

#imprentaBoton{        
    display:block;
}

.men-menu{
    display:block;
}

#menuImprenta li{
    display: block;
    text-align: center;
    width: 100%;
}
    
/* MENÚ REDES SOCIALES */  

#social a{
    padding: 0.5em auto;
} 

/* TOOLTIPS ESPECIALES SOLO IMAGEN */

.mytooltip .tooltip-text{
    display: none;
}

.mytooltip .tooltip-content {        
    width: auto;
    margin: 0 0 20px -90px;         
}

.mytooltip .tooltip-content img {        
    margin-right: 0
}

/* ARROW ANIMATION */

.icon_arrow, .icon_arrow3{
    transform: translate(-50%,-50%) scale(0.6) rotate(90deg);
}

}