@mixin centrado-flex ($horizontal: center){
    display: flex;
    justify-content: $horizontal;
    align-items: center;
}

@mixin rectangular-form-radius ($width: auto, $height:auto, $background: transparent, $radius: 0px ){
    width: $width;
    height: $height;
    background-color: $background;
    border-radius: $radius;
}

@mixin hover-back-front ($back: inherit, $front: inherit){
    &:hover{
        background-color: $back;
        color: $front;
      }
}

/* mixing que me sirve para maquetar todas las ventanas modeales del dashboard */
/* esquema:
    <div class="modal">
        <div class="pop-up shadow-sm">lo que queramos mostrar<div>
    </div>
*/
@mixin modal ($width: auto, $height:auto){
.modal{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(7, 7, 7, 0.4);
    @include centrado-flex(center);
    
        .pop-up{
        @include rectangular-form-radius($width, $height, white, 15px);        
        margin-top: 2rem;
        padding: 2rem;
            button{
                min-width: 100px;
            }

        }
    
    }
}

@mixin cruzYraya (){
    .dasplus, .dasminus{
        font-size: 2.6rem;
        line-height: 1rem;          
        padding-top: 3px;            
      }
      .dasminus{
        padding-top: 0px;
        transform: translate(0px, -2px);  
      }
      .dasplus:before {
        content: "+";          
      }
      .dasminus:before {
        content: "-";          
      }
}