/* colores */
:root{
  --color-explosion-1: #1abacc;
  --color-explosion-2: #18546b;
  }

/* mensaje con letras del Scrabble*/

$max-letras: 10;
$max-palabras: 10;
$velocidad: 1;
$gap: 4;

.mensaje{
  width: $max-letras*40 + px;
  /* height:$max-letras*40 + px; */
  margin: 0 auto;

  /* display grid */
  display: grid;
  grid-template:repeat($max-letras/2, 1fr) / repeat($max-letras, 1fr);
  grid-gap: 4px;   

  span{
      width: 100%;
      height: 40px;        

      /* display flex */
      display: flex;
      justify-content: center;
      align-items: center;        

      &.char{
          background-color: var(--color-explosion-1);
          color: white;
          font-size: 1.3rem;
          border-radius: 15%;

          &:hover{
              background-color: var(--color-explosion-2);
          }
      }

      &.vacio{
          grid-column-end: $max-letras + 1; 
      }        
  }
  
}

/* animación tipo karaoke para la lectura */
@for $i from 1 to $max-palabras + 1
{
  .p#{$i}{             
      animation: luz $velocidad+s linear ($i*$velocidad + $velocidad)+s;        
  }
}

@keyframes luz {
  0% {
      background-color: var(--color-explosion-1);
  }

  50% {
      background-color: var(--color-explosion-2);
  }

  75% {
      background-color: var(--color-explosion-2);
  }

  100%{
      background-color: var(--color-explosion-1);
  }
}